In [4]:
import pandas as pd
import numpy as np

In [5]:
data_2015= pd.read_csv("2015.csv")
data_2016= pd.read_csv("2016.csv")
data_2017= pd.read_csv("2017.csv")
data_2018= pd.read_csv("2018.csv")
data_2019= pd.read_csv("2019.csv")

In [6]:
data_2015["Year"]=2015
data_2016["Year"]=2016
data_2017["Year"]=2017
data_2018["Year"]=2018
data_2019["Year"]=2019

In [7]:
data_2015.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015

In [8]:
#data_2015.head()
data_2016.head(3)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016

In [9]:
data_2017=data_2017.rename(columns={"Happiness.Score":"Happiness Score","Happiness.Rank": "Happiness Rank", "Economy..GDP.per.Capita.": "Economy (GDP per Capita)", "Health..Life.Expectancy.": "Health (Life Expectancy)","Trust..Government.Corruption.":"Trust (Government Corruption)","Dystopia.Residual":"Dystopia Residual"})
data_2017.head(3)

,Country,Happiness Rank,Happiness Score,Whisker.high,Whisker.low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017

In [34]:
data_2018=data_2018.rename(columns={"Social support":"Family","Freedom to make life choices":"Freedom","Score":"Happiness Score","Country or region":"Country","Overall rank": "Happiness Rank", "GDP per capita": "Economy (GDP per Capita)", "Healthy life expectancy": "Health (Life Expectancy)","Perceptions of corruption":"Trust (Government Corruption)"})
data_2018.head(3)

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018

In [44]:
data_2019=data_2019.rename(columns={"Freedom to make life choices":"Freedom","Social support":"Family","Score":"Happiness Score","Country or region":"Country","Overall rank": "Happiness Rank", "GDP per capita": "Economy (GDP per Capita)", "Healthy life expectancy": "Health (Life Expectancy)","Perceptions of corruption":"Trust (Government Corruption)"})
data_2019.head(3)

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019

In [45]:
list(data_2015.columns)

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [46]:
list(data_2016.columns)

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [47]:
list(data_2017.columns)

['Country',
 'Happiness Rank',
 'Happiness Score',
 'Whisker.high',
 'Whisker.low',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Trust (Government Corruption)',
 'Dystopia Residual',
 'Year']

In [48]:
list(data_2018.columns)

['Happiness Rank',
 'Country',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Trust (Government Corruption)',
 'Year']

In [49]:
list(data_2019.columns)

['Happiness Rank',
 'Country',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Trust (Government Corruption)',
 'Year']

In [50]:
df_all = data_2015.append([data_2016,data_2017,data_2018,data_2019],ignore_index = True)

In [51]:
df_all.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Lower Confidence Interval,Upper Confidence Interval,Whisker.high,Whisker.low
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,NaN

In [52]:
data_top = df_all[df_all["Happiness Rank"]<=5]
data_top

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Lower Confidence Interval,Upper Confidence Interval,Whisker.high,Whisker.low
0,Switzerland,Western Europe,1,7.587,0.03411,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2.702010,2015,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2.492040,2015,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2.465310,2015,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2.451760,2015,NaN,NaN,NaN,NaN
158,Denmark,Western Europe,1,7.526,NaN,1.441780,1.163740,0.795040,0.579410,0.444530,0.361710,2.739390,2016,7.460,7.592,NaN,NaN
159,Switzerland,Western Europe,2,7.509,NaN,1.527330,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,7.428,7.590,NaN,NaN
160,Iceland,Western Europe,3,7.501,NaN,1.426660,1.183260,0.867330,0.566240,0.149750,0.476780,2.831370,2016,7.333,7.669,NaN,NaN
161,Norway,Western Europe,4,7.498,NaN,1.577440,1.126900,0.795790,0.596090,0.357760,0.378950,2.664650,2016,7.421,7.575,NaN,NaN
162,Finland,Western Europe,5,7.413,NaN,1.405980,1.134640,0.810910,0.571040,0.410040,0.254920,2.825960,2016,7.351,7.475,NaN,NaN
315,Norway,NaN,1,7.537,NaN,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027,2017,NaN,NaN,7.594445,7.479556
316,Denmark,NaN,2,7.522,NaN,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707,2017,NaN,NaN,7.581728,7.462272
317,Iceland,NaN,3,7.504,NaN,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715,2017,NaN,NaN,7.622030,7.385970
318,Switzerland,NaN,4,7.494,NaN,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,NaN,7.561772,7.426227
319,Finland,NaN,5,7.469,NaN,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182,2017,NaN,NaN,7.527542,7.410458
470,Finland,NaN,1,7.632,NaN,1.305000,1.592000,0.874000,0.681000,0.393000,0.202000,NaN,2018,NaN,NaN,NaN,NaN
471,Norway,NaN,2,7.594,NaN,1.456000,1.582000,0.861000,0.686000,0.340000,0.286000,NaN,2018,NaN,NaN,NaN,NaN
472,Denmark,NaN,3,7.555,NaN,1.351000,1.590000,0.868000,0.683000,0.408000,0.284000,NaN,2018,NaN,NaN,NaN,NaN
473,Iceland,NaN,4,7.495,NaN,1.343000,1.644000,0.914000,0.677000,0.138000,0.353000,NaN,2018,NaN,NaN,NaN,NaN
474,Switzerland,NaN,5,7.487,NaN,1.420000,1.549000,0.927000,0.660000,0.357000,0.256000,NaN,2018,NaN,NaN,NaN,NaN
626,Finland,NaN,1,7.769,NaN,1.340000,1.587000,0.986000,0.596000,0.393000,0.153000,NaN,2019,NaN,NaN,NaN,NaN
627,Denmark,NaN,2,7.600,NaN,1.383000,1.573000,0.996000,0.592000,0.410000,0.252000,NaN,2019,NaN,NaN,NaN,NaN
628,Norway,NaN,3,7.554,NaN,1.488000,1.582000,1.028000,0.603000,0.341000,0.271000,NaN,2019,NaN,NaN,NaN,NaN
629,Iceland,NaN,4,7.494,NaN,1.380000,1.624000,1.026000,0.591000,0.118000,0.354000,NaN,2019,NaN,NaN,NaN,NaN
630,Netherlands,NaN,5,7.488,NaN,1.396000,1.522000,0.999000,0.557000,0.298000,0.322000,NaN,2019,NaN,NaN,NaN,NaN

# Research question:
Based on the happiness profile, where consistently is the best place to live and why? 

# best place retirement, career start/end 

# heat map for happiness score by continents 

#1 which country has the biggest happiness score and why? (top
  #  bar chart top five 
    
#2 observe top 5 country over the years, what changed?

#3 How aboub America, what changed in the past years, how to improve America's score


#4 some distribution of drivers over the years? (duplicated) 



#additional dataset supplement 


#visualizaiton 
# top five country each year
# if there is any movement, what changed. 
# distribution of health over the year
# distribution of freedom over the year
# corruption over the year
# Driver of the 
# How to improve the happiness score 
# Where do you want to live

# Data Cleaning

### data rename 
### append data
### Any N/A?
### dictionary and fill in region?